<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <%- include('/home/node/app/views/cabecalho.ejs') %>
    <h1>Cálculo de Terrenos hexadecagonois</h1>
    <form action="media" method="post">
        <label>
            <span>Nome do Estudante:</span>
            <input name="nome">
        </label>
        <label>
            <span>Medida do Lado:</span>
            <input name="medida">
        </label>
        <button>Ok</button>
    </form>
</body>
</html>