<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <%- include('/home/node/app/views/cabecalho.ejs') %>
    <h1>Área!</h1>

    <p>Olá, <%= nome %>. A medida do lado do terreno Hexadecagonal é <%= medida %>. Então sua área é  <%= media() %>.
<%
if (estaAprovado()) {
%>
    <p>Área Grande!</p>
<%
}
else {
%>
    <p>Área Pequena</p>
<%
}
%>
</body>
</html>